@import 'tailwindcss';
@font-face {
  font-family: 'GeneralSans';
  src: url('../../public/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Bein Arabic';
  src: url('../../public/fonts/bein-ar-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@theme {
  --color-main: #ebc03f;
  --color-bg: #1d1f22;
  --color-text: #f4f4f4;
  --font-arab: 'Bein Arabic';
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  font-family: 'GeneralSans', sans-serif;
}
:lang(ar),
[lang='ar'] {
  font-family: 'Bein Arabic', 'GeneralSans';
}
::selection {
  background: var(--color-bgb);
  color: var(--color-text);
}
